h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {

  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
  word-wrap: break-word;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

}


footer h4 {
  font-size: calc(1.275rem + 0.3vw);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
}




header.bg-primary {
  background-color: #18bc9c !important;
}
header.masthead {
  padding-top: calc(3rem + 72px);
  padding-bottom: 2rem;


}

header.masthead h1 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;

}

Button.btn {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color: #18bc9c;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid #18bc9c;
  padding: .375rem .75rem;
  font-size: 1.5rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,black .15s ease-in-out,box-shadow .15s ease-in-out;
}

#modal Button{
  font-size:1.2rem;
  font-weight: 100;

}

.navbar-dark .navbar-toggler {
  background: #18bc9c;
  border-color: #18bc9c;
  font-size: 100% !important;

}
.navbar-dark .navbar-toggler:focus {
  box-shadow: 0 0 0 2px white;

}

.navbar-dark .navbar-toggler-icon {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" fill="white"/></svg>') !important;
  width: 15px !important;
}


#clear {
  font-size:0.5rem;
  border-radius: 0;
  padding: .3rem .4rem;
  color: #18bc9c !important;
  border-color: #18bc9c !important;
}
  #clear:hover, #clear:focus{
    color: white !important;
    background-color: red !important;
    border-color: red !important;

  }

#clear:active {
  background-color: red !important;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}


Button.btn-xl {
  /*padding: 1rem 1.75rem;*/
  font-size: 1.25rem;
}

.btn-outline-danger {
  color: orangered !important;
  border-color: orangered !important;
}
.btn-outline-danger:hover {
  color: white !important;
}

.btn-secondary {
  color: gray !important;
  border-color: gray !important;
}

.btn-secondary:hover, .btn-secondary:focus {
  color: white !important;
}



.col {
  flex: auto !important;
}
.btn-social {
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
}


#check {
  border: 20px solid #18bc9c;
  color: green;
  border-radius: 100rem;
  background-color: transparent;
}

.bg-secondary {
  background-color: #2c3e50 !important;
}

.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}


.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#mainNav {
  font-weight: 700;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  background-color: #2c3e50;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  transition: padding-top .3s,padding-bottom .3s;
  color: #ffffff;
}

  #mainNav .navbar-brand {
    font-size: 1rem;
    transition: font-size .3s;
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}



 .react-multiple-carousel__arrow {
   margin-bottom: 82px !important;

 }


div.hr {
  max-width: 10rem;
  align-items: center;
  margin-left: auto !important;
  margin-right: auto !important;
  border-color: red;
}


.footer {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: #2c3e50;
  color: #fff;
}

a:hover{
  color: #18bc9c !important;
}

.navbar .nav-link:focus {
  background-color: #18bc9c  !important;
  color: #fff !important;
}

.navbar .nav-link {
  background-color: transparent  !important;
}


  #carousel-multi{
    alignment: center;
  }






/*---------------------*/


@media (min-width: 992px) {
#mainNav {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  background-color: #2c3e50;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  transition: padding-top .3s,padding-bottom .3s;
  color: #ffffff;
}

  #mainNav .navbar-brand {
    font-size: 2em;
    transition: font-size .3s;
}

  .navItem{
  color: green;
  }

  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .navbar-brand.active{
    font-size: 1.5rem !important;
  }

   .container.carousel{
        width: 60%;
  }
   header.masthead {
    padding-top: calc(6rem + 72px);
    padding-bottom: 3.5rem;

  }

  header.masthead h1 {
    font-size: 6rem;
    line-height: 3rem;
    font-weight: 700;

  }

  #clear {
    color: #18bc9c !important;
    border-color: #18bc9c !important;
    font-size:0.8rem;
    padding: .375rem .75rem;

  }


  #carousel-multi{
    width: 64%;
    alignment: center;
  }
 /*  .react-multiple-carousel__arrow {*/
 /*  margin-bottom: 80px !important;*/

 /*}*/

}


/*---------------------------------------*/







.App{
  font-family: "Montserrat", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}




